/*RESET CSS BÁSICO, BASADO EN LA VERSIÓN 2.O DEL RESET.CSS DE ERIC
MEYER*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, main, footer, header, hgroup, nav, section{
    display: block;
}

body{
    line-height: 1;
}

ol, ul{
    list-style: none;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
}

nav{
    width: 100%;
    height: 170px;
    background-color: gray;
}

ul{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7rem;
}

li{
    font-size: 20px;
}

li a{
    text-decoration: none;
    color: white;
}

#abuelo{
    width: 100%;
    height: 100vh;
    background-color: rgb(129, 117, 210);
}

.padre{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.hijo-1{
    width: 200px;
    height: 200px;
    background-color: orange;
    border-radius: 10px;
}

.hijo-2{
    width: 200px;
    height: 200px;
    background-color: rgb(107, 202, 122);
    border-radius: 10px;
}

.hijo-3{
    width: 200px;
    height: 200px;
    background-color: rgb(195, 86, 128);
    border-radius: 10px;
}

.hijo-4{
    width: 200px;
    height: 200px;
    background-color: rgb(94, 53, 245);
    border-radius: 10px;
    flex-shrink: 0;
}

@media (min-width:600px) {
    #abuelo{
        background-color: rgb(117, 188, 210);
    }

    .padre{
        flex-direction: column;
    }
}

@media (min-width:800px) and (max-width:900px) {
    #abuelo{
        background-color: red;
    }
}