/*RESET CSS BÁSICO, BASADO EN LA VERSIÓN 2.O DEL RESET.CSS DE ERIC
MEYER*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    font-family: "Google Sans Code", monospace;
    font-optical-sizing: auto;
}

article, aside, details, figcaption, figure, main, footer, header, hgroup, nav, section{
    display: block;
}

body{
    line-height: 1;
    background-color: rgb(254, 249, 239);
}

ol, ul{
    list-style: none;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
}

section{
  width: 100%;
  height: 400px;
  background-color: rgb(78, 45, 45);
}

a {
  color: red;
}

h1{
    text-align: center;
    color: black;
    font-size: 70px;
}

h2 {
    text-align: center;
    color:rgb(14, 243, 193);
    font-size: 24px;
}

p{
    color: white;
    text-align: center;
}

ul {
    list-style-type: none;
    text-align: center;
}

.foto{
  width: 100px;
  height: 100px;
}

.logo{
  width: 100px;
  height: 100px;
}

div{
  text-align: center;
}

.uno{
  height: 320px;
  width: 620px;
}

.dos{
  height: 320px;
  width: 620px;
}

.tres{
  height: 320px;
  width: 620px;
}